<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .body {
            font-family: sans-serif;
        }

        .headingImg {
            border-radius: 7px;
            width: 100%;
            height: 500px;
        }
    </style>
    <title>Your Library</title>
</head>

<body class='body'>
    <center>
        <img class='headingImg'
            src='https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bGlicmFyeXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80'></img>
        <h1>Your Library</h1>
        <br /><br />
        <div class="description">
            <h3>
                Your Library is a service that provides you with information on all the books you love and also lets you
                download some of them. It has a very simple user interface making it very easy to use and read the books
                that you love.
            </h3>
            <br /><br />
            <a href="/main_page" class="btn btn-warning">Go To Library Genesis</a>
        </div>
    </center>
</body>

</html>